<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<div class="card">
    <article class="card-body">
    <a href="/login" class="float-right btn btn-outline-primary">Login</a>
    <h4 class="card-title mb-4 mt-1">Set New Password</h4>
        <form action="/new-password" method="POST">
            <input type="hidden" name="user_id" value="<%= user_id %>">
            <input type="hidden" name="token" value="<%= passToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <label>New Password</label>
                <input name="password" id="password" class="form-control" placeholder="********" type="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Set New Password</button>
            </div>
        </form>
    </article>
</div>
        
<%- include('../includes/end.ejs') %>